.postPage{
  background-color: grey;

}
.post{
  width: 50vw;
  margin: 0 auto;
  li{
    border: 1px solid silver;
    list-style: none;
    background: #F2F3F5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    font-size: 20px;
    font-weight: 600;
  }
}
.pages{
  display: flex;
  list-style: none;
  justify-content: center;
  li{
    width: 30px;
    height: 30px;
    border: 1px solid blanchedalmond;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:  auto 5px;
    cursor: pointer;
    &:hover {
      background: chartreuse;
    }
  }
  .active {
    background: chartreuse;
    border: 1px solid yellow;
    color: #000;
  }
}
.select{
  margin: 0 auto;
  width: 50px;
  display: block;
}
.input{
 margin: 0 auto;
  display: block;
  border-radius: 10px;
  padding: 5px;
  border: none;
  outline: none;
}