*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu{
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
  color: #fff;
  ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 50px;

    li {
      &.active > a {
        color: orangered;
      }
    }
  }
  button{
    width:90px;
    height: 40px;
    border-radius: 10px;
    font-size: 20px;
    &:hover{
      background-color:   orangered;
    }
  }
}

.menu>ul>li>a{
  text-decoration: none;
  font-size: 30px;
  color: #fff;
  &:hover{
    color: orangered;
  }
  menu>ul>li>a:hover{
    color:orangered;
  }
}
