.form{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: grey;
  justify-content: center;
  align-items: center;
  margin: 3% auto;
  padding: 20px;
  border-radius: 15px;
  outline: none;


  input{
    width: 300px;
    height: 40px;
    margin-top: 10px;
    border-radius: 20px;
    padding: 10px;
    border: none;
  }

  button{
    width: 80px;
    height: 30px;
    margin: 20px;
    border-radius: 20px;
    cursor: pointer;
    background: red;
    outline: none;
    border: 1px solid maroon;
    opacity: 0.8;

  }
  button:disabled{
    opacity: 0.5;
  }
  button:disabled:hover {
    opacity: .3;
  }

  input:active{
    outline: none;
    border: none;
  }

}

