.childrenBookContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  childrenForm{

  }
  button{
    width: 80px;

  }
  input{

  }
}
.image-item {
  display: flex;
  margin: 10px 0;
}
.image-item__btn-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
button {
  height: 40px;
}