
.container{
  margin: 50px;
  border-radius: 15px 17px 20px 18px ;
  font-family:"Engravers MT";
  box-shadow: 10px 10px 5px silver;  ;
  width: 280px;
  height: 280px;
  background: #F2F3F5;
  padding: 17px 24px;
  text-decoration: none;
  img{
    width: calc(100%/2.2);
    height: 100px;
    cursor: pointer;
    border: 1px solid  antiquewhite;
    background: #FFFFFF;
    padding: 0;
    margin: 2.5px;
  }
  a{
    text-decoration: none;
  }

}

