.container{
  display: flex;
  flex-direction: column;
  align-items: center;
 page{

 }
  ul{
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: column;

  }
}
.imgContainer{



  img{
    width: 80px;
    height: 80px;
  }
}