.login{
  color: white;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  loginIcon{
    font-size: 35px;
    &:hover{
      color: orangered;
    }
  }
}


