.sidebarBtn {
  width: 50px;
  height: 40px;
  background: lightblue;
  position: absolute;
  top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  cursor: pointer
}
.sidebarBtn:hover {
  background: aquamarine;
}

