.mask {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, .8);
  z-index: 10;
}
.sidebar {
  background: #fff;
  padding: 25px 0;
  border-radius: 0 20px 20px 0;
  width: 200px;
  position: absolute;
  top: 150px;
  display: flex;
  justify-content: center;

  .menu {
    font-size: 22px;
  }
}