.booksContainer{
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}
.categories{
  display: flex;
  justify-content: center;
  align-items: center;

  li{
    width: 120px;
    list-style: none;
    margin: 0 20px;
    cursor: pointer;
    color: black;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;

    &:hover {
      color: orangered;
    }

  }
  .active{
    color: orangered;
  }

}
.imgContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  li {
    width: 250px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 15px;
    list-style: none;
  }

  img {
    width: 100%;
    height: 180px;
    object-fit: cover;
  }
}
.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}